@import "font-awesome.css";
@import "HarmonyOS_Sans.css";

@font-face {
    font-family: "HarmonyOS_Sans_SC";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../fonts/HarmonyOS_Sans_SC-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "JetBrainsMono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../fonts/JetBrainsMono-Regular.ttf) format("truetype");
}