@import "fonts/fontface.css";
@import "reset.css";

/*----------------*/

span.loading {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 3px solid var(--border-color);
    border-top: 3px solid var(--text-color);
    border-radius: 50%;
    -webkit-animation: rotate-360 1s linear infinite;
    animation: rotate-360 1s linear infinite;
}

.loading.sm {
    width: 25px;
    height: 25px;
    border-width: 3px;
    border-top-width: 3px;
}

.loading.md {
    width: 50px;
    height: 50px;
    border-width: 4px;
    border-top-width: 4px;
}

.loading.lg {
    width: 75px;
    height: 75px;
    border-width: 6px;
    border-top-width: 6px;
}

.loading.ease {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes rotate-360 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-360 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*----------------*/

#initializing {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    z-index: 999;
}

#bt {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    right: -50px;
    bottom: 50px;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    -webkit-transition: right 0.25s ease;
    transition: right 0.25s ease;
    text-align: center;
    font-size: 1.125em;
}

#bt.display {
    right: 25px;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 4%;
    border-bottom: 1px solid var(--border-color);
    background: var(--background-color);
    z-index: 99;
    user-select: none;
}

#menu {
    margin-right: 1rem;
    cursor: pointer;
}

#items {
    position: absolute;
    overflow: scroll;
    top: 50px;
    left: -100%;
    width: 65vw;
    height: calc(100vh - 50px);
    padding: 2.5vw 4%;
    background: var(--background-color);
    border-right: 1px solid var(--border-color);
    -webkit-transition: left 0.35s ease;
    transition: left 0.35s ease;
    z-index: 99;
}

#items a {
    display: block;
}

#items .item:first-of-type {
    margin-top: 0.65rem;
}

#items .item:last-of-type {
    margin-bottom: 0.65rem;
}

#items .item:not(:last-of-type) {
    margin-bottom: 1.3rem
}

#items .item label {
    display: block;
}

#items .item label .title {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#items .item label .title.arrow::after {
    content: "\f104";
    float: right;
    -webkit-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
    font-family: "FontAwesome";
}

#items .content {
    display: block;
    overflow: hidden;
    padding-left: 1em;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

#items .content a {
    margin-top: 0.65rem;
    cursor: pointer;
}

#items input:checked~label .title.arrow::after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#navcb1:checked~#items {
    left: 0;
}

#title {
    margin-right: 1rem;
    font-weight: bold;
}

#subtitle {
    display: none;
}

#search {
    display: none;
    position: absolute;
    right: 4%;
    cursor: pointer;
}

#search_box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: -100%;
    width: 100%;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-top: none;
    -webkit-transition: right 0.35s ease;
    transition: right 0.35s ease;
}

#search_box>* {
    padding: 0 4%;
}

#input {
    position: relative;
    margin: 0.65rem 0;
}

#keyword {
    width: 100%;
    height: 32px;
    padding: 4px 8px;
    padding-right: 32px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: none;
    font-size: 16px;
}

#keyword:not(:placeholder-shown)~#clear {
    display: block;
}

#clear {
    display: none;
    position: absolute;
    top: 0;
    right: 4%;
    width: 32px;
    height: 32px;
    padding: 8px;
    cursor: pointer;
}

#filters {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    top: 100%;
    right: -1px;
    width: calc(100% + 2px);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-top: none;
    transform: scaleY(0.5) translateY(-100%);
    transform-origin: 50% 0 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    z-index: -1;
}

#filters.show {
    transform: scaleY(1) translateY(0);
}

#filters .row {
    display: flex;
    justify-content: space-between;
    margin: 0.65rem 0;
}

#filters .row>label:not(:last-of-type) {
    flex-basis: 4.5em;
}

#filters .row>label:last-of-type {
    flex-basis: 6.5em;
}

.checkbox label,
.radio label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.checkbox .pattern,
.radio .pattern {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--border-color);
    background: var(--background-color);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.radio .pattern {
    border-radius: 50%;
}

.checkbox input:checked+label .pattern,
.radio input:checked+label .pattern {
    background: var(--text-color);
    -webkit-box-shadow: inset 0 0 0 2px var(--background-color);
    box-shadow: inset 0 0 0 2px var(--background-color);
}

.checkbox input:disabled+label,
.radio input:disabled+label {
    opacity: 0.5;
    cursor: default;
}

#navcb2:checked~#search_box {
    right: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 50px;
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 2.5vw 4%;
    word-wrap: break-word;
}

content {
    display: flex;
    flex-direction: column;
}

content>p {
    line-height: 1.33em;
}

#info,
#divide_1,
#divide_2,
#result,
#egg_1,
#egg_2 {
    display: none;
}

#warning {
    color: #F44336;
}

#loading {
    display: none;
    text-align: center;
}

#loading .loading {
    margin-top: 0.65rem;
}

#songs {
    overflow: hidden;
}

#songs .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#songs .list>* {
    width: 100%;
}

#songs .list .song {
    overflow: hidden;
    width: 100%;
    margin: 0.65rem 0;
    padding: 8px 16px;
    background: #F2F4F6;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

#songs .list .song.hidden {
    display: none;
}

#songs .level {
    display: flex;
    justify-content: space-between;
}

#songs .level .difficulty {
    display: inline-block;
    text-align: left;
}

#songs .level .version {
    display: inline-block;
    text-align: right;
}

.difficulty {
    padding: 0.05rem 0.25rem;
    font-family: "Electrolize";
}

.difficulty.easy {
    color: #2D96C3;
    background: #05284B;
}

.difficulty.hard {
    color: #BE2D2D;
    background: #320F0F;
}

.difficulty.chaos {
    color: #BE28BE;
    background: #320F32;
}

.difficulty.glitch {
    color: #05AA4B;
    background: #0F2D23;
}

.difficulty.crash {
    color: #CC9900;
    background: #372814;
}

@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }

    #items {
        position: absolute;
        left: 0;
        width: 25%;
        -webkit-transition: none;
        transition: none;
    }

    #search_box {
        width: 75%;
    }

    main {
        right: 0;
        width: 75%;
    }
}