@import "fonts/fontface.css";
@import "reset.css";

/*----------------*/

@keyframes rotate-360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        transform: translateX(-50%) translateY(calc(15vh + 100%));
    }

    to {
        transform: translateX(-50%) translateY(0);

    }
}

@keyframes fade-out {
    from {
        transform: translateX(-50%) translateY(0);
    }

    to {
        transform: translateX(-50%) translateY(calc(15vh + 100%));
    }
}

/*----------------*/

:root {
    --vertical-padding: 2.5vw;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

noscript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    z-index: 999;
}

noscript p {
    max-width: 50vw;
}

span.loading {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 3px solid var(--border-color);
    border-top: 3px solid var(--text-color);
    border-radius: 50%;
    animation: rotate-360 1s linear infinite;
}

.loading.sm {
    width: 25px;
    height: 25px;
    border-width: 3px;
    border-top-width: 3px;
}

.loading.md {
    width: 50px;
    height: 50px;
    border-width: 4px;
    border-top-width: 4px;
}

.loading.lg {
    width: 75px;
    height: 75px;
    border-width: 6px;
    border-top-width: 6px;
}

.loading.ease {
    animation-timing-function: ease;
}

.toast {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 15vh;
    line-height: 25px;
    padding: 0.5rem 5%;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    transform: translateX(-50%);
    animation-fill-mode: none, forwards;
    z-index: 9999;
    user-select: none;
    font-size: 0.9em;
}


#bt {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    right: -50px;
    bottom: 50px;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    transition: right 0.25s ease,
        border-color 0.25s ease;
    text-align: center;
    font-size: 1.125rem;
}

#bt.display {
    right: 25px;
}

#bt:active {
    border-color: var(--theme-color);
}

.input {
    width: 100%;
    height: 32px;
    padding: 4px 8px;
    margin: 0.65rem 0;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: none;
    transition: border-color 0.25s ease;
    font-size: 16px;
}

.input:focus {
    border-color: var(--theme-color);
}

.buttons {
    margin: 0.65rem 0;
    text-align: left;
    user-select: none;
}

.buttons.right {
    text-align: right;
}

.buttons>a {
    display: inline-block;
    padding: 8px 32px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: border-color 0.25s ease;
    text-decoration: none;
    font-size: 14px;
}

.buttons>a:not(:last-of-type) {
    margin-right: 8px;
}

.buttons.right>a:not(:first-of-type) {
    margin-left: 8px;
}

.buttons>a:active {
    border-color: var(--theme-color);
}

.hidden {
    position: absolute;
    left: -9999vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 var(--horizontal-padding);
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    z-index: 99;
}

#menu {
    cursor: pointer;
}

#items {
    position: absolute;
    overflow: scroll;
    top: 50px;
    left: -100%;
    width: 60vw;
    height: calc(100vh - 50px);
    padding: var(--vertical-padding) 4% var(--vertical-padding) var(--horizontal-padding);
    background: var(--background-color);
    border-right: 1px solid var(--border-color);
    transition: left 0.35s ease;
    z-index: 99;
}

#navcb1:checked~#items {
    left: 0;
}

#items a {
    display: block;
}

#items .item:first-of-type {
    margin-top: 0.65rem;
}

#items .item:last-of-type {
    margin-bottom: 0.65rem;
}

#items .item:not(:last-of-type) {
    margin-bottom: 1.3rem
}

#items .item label {
    display: flex;
    flex-direction: row;
}

#items .item label i {
    font-size: 0.9em;
}

#items .item label .title {
    flex: 1;
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#items .item label .title.arrow::after {
    content: "\f104";
    float: right;
    transition: transform 0.25s ease;
    font-family: "Font Awesome 5 Free";
}

#items input:checked~label .title.arrow::after {
    transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#items .content {
    display: block;
    overflow: hidden;
    padding-left: 1em;
    transition: height 0.35s ease;
}

#items .content a {
    margin-top: 0.65rem;
    cursor: pointer;
}

#title {
    font-weight: bold;
}

.checkbox label,
.radio label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.checkbox .pattern,
.radio .pattern {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--border-color);
    background: var(--background-color);
    transition: all 0.25s ease;
}

.radio .pattern {
    border-radius: 50%;
}

.checkbox input:checked+label .pattern,
.radio input:checked+label .pattern {
    background: var(--text-color);
    box-shadow: inset 0 0 0 2px var(--background-color);
}

.checkbox input:disabled+label,
.radio input:disabled+label {
    opacity: 0.5;
    cursor: default;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: var(--main-width);
    padding: var(--vertical-padding) 0;
    margin-top: 50px;
    word-wrap: break-word;
}

#warning {
    color: #F44336;
}

#loading {
    display: none;
    text-align: center;
}

#loading .loading {
    margin-top: 0.65rem;
}

.difficulty {
    padding: 0.05rem 0.25rem;
    font-family: "Electrolize";
}

.difficulty.easy {
    color: #2D96C3;
    background: #05284B;
}

.difficulty.hard {
    color: #BE2D2D;
    background: #320F0F;
}

.difficulty.chaos {
    color: #BE28BE;
    background: #320F32;
}

.difficulty.glitch {
    color: #05AA4B;
    background: #0F2D23;
}

.difficulty.crash {
    color: #CC9900;
    background: #372814;
}

.difficulty.dream {
    color: #BCBCBC;
    background: #3D3D3D;
}

footer {
    flex: 0 0 auto;
    width: 100%;
    padding: var(--vertical-padding) var(--horizontal-padding);
    background: #F5F5F5;
    border-top: 1px solid var(--border-color);
    font-size: 0.85rem;
    word-wrap: break-word;
}

@media screen and (max-width: 575px) {
    :root {
        --main-width: 92%;
        --horizontal-padding: 4%;
    }
}

@media screen and (min-width: 576px) {
    :root {
        --main-width: 540px;
        --horizontal-padding: calc((100% - 540px) / 2);
    }
}

@media screen and (min-width: 768px) {
    #items {
        width: 40vw;
    }

    :root {
        --main-width: 720px;
        --horizontal-padding: calc((100% - 720px) / 2);
    }
}

@media screen and (min-width: 992px) {
    :root {
        --main-width: 960px;
        --horizontal-padding: calc((100% - 960px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    #items {
        width: 30vw;
    }

    :root {
        --main-width: 1140px;
        --horizontal-padding: calc((100% - 1140px) / 2);
    }
}
